.attention {
  background: -o-linear-gradient(354.37deg, #0057b6 9.29%, #5960ea 83.38%);
  background: linear-gradient(95.63deg, #0057b6 9.29%, #5960ea 83.38%);
  border-radius: 12px;
  overflow: hidden;
  color: #FFFFFF;
  padding: 47px 64px 64px;
}
@media (max-width: 1439px) {
  .attention {
    padding: 47px 60px 64px;
  }
}
@media (max-width: 1023px) {
  .attention {
    padding: 40px 32px 55px;
  }
}
@media (max-width: 767px) {
  .attention {
    padding: 24px 16px 36px;
  }
}
.attention-icon {
  text-align: center;
  margin-bottom: 8px;
}
@media (max-width: 767px) {
  .attention-icon {
    text-align: left;
  }
}
.attention-heading {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 41px;
  font-size: 1.5555555555555556rem;
  line-height: 1.14285714;
}
@media (max-width: 1023px) {
  .attention-heading {
    font-size: 1.1111111111111112rem;
    line-height: 1.2;
  }
}
@media (max-width: 767px) {
  .attention-heading {
    text-align: left;
    margin-bottom: 32px;
  }
}
.attention-list {
  padding: 0;
  margin: 0 auto;
  max-width: 840px;
}
.attention-item {
  list-style: none;
  position: relative;
  font-size: 0.9444444444444444rem;
  line-height: 1.17647059;
  margin-bottom: 24px;
  padding-left: 28px;
}
@media (max-width: 1023px) {
  .attention-item {
    font-size: 0.8888888888888888rem;
    line-height: 1.25;
  }
}
.attention-item:last-child {
  margin-bottom: 0;
}
.attention-item:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.43702 9.49956C4.33894 9.49962 4.24187 9.47905 4.1517 9.43908C4.06154 9.39911 3.98016 9.34059 3.91251 9.26706L0.712601 5.79231C0.580026 5.6484 0.508103 5.45586 0.512655 5.25704C0.514908 5.1586 0.535869 5.06158 0.57434 4.97153C0.612811 4.88147 0.668039 4.80015 0.73687 4.73219C0.805701 4.66423 0.886788 4.61097 0.975501 4.57545C1.06421 4.53994 1.15882 4.52286 1.2539 4.52519C1.44594 4.5299 1.62831 4.6134 1.76089 4.75731L4.43702 7.66206L10.1312 1.48206C10.1969 1.41085 10.2754 1.35372 10.3624 1.31394C10.4494 1.27416 10.543 1.2525 10.6381 1.2502C10.7332 1.24791 10.8277 1.26501 10.9164 1.30055C11.0051 1.33608 11.0861 1.38935 11.1549 1.45731C11.2237 1.52527 11.2788 1.60659 11.3173 1.69663C11.3557 1.78666 11.3766 1.88365 11.3788 1.98206C11.3811 2.08047 11.3645 2.17836 11.3302 2.27016C11.2959 2.36195 11.2444 2.44585 11.1788 2.51706L4.96152 9.26706C4.89388 9.34059 4.8125 9.39911 4.72234 9.43908C4.63217 9.47905 4.5351 9.49962 4.43702 9.49956Z' fill='white'/%3E%3Cpath d='M4.43702 9.49956C4.33894 9.49962 4.24187 9.47905 4.1517 9.43908C4.06154 9.39911 3.98016 9.34059 3.91251 9.26706L0.712601 5.79231C0.580026 5.6484 0.508103 5.45586 0.512655 5.25704C0.514908 5.1586 0.535869 5.06158 0.57434 4.97153C0.612811 4.88147 0.668039 4.80015 0.73687 4.73219C0.805701 4.66423 0.886788 4.61097 0.975501 4.57545C1.06421 4.53994 1.15882 4.52286 1.2539 4.52519C1.44594 4.5299 1.62831 4.6134 1.76089 4.75731L4.43702 7.66206L10.1312 1.48206C10.1969 1.41085 10.2754 1.35372 10.3624 1.31394C10.4494 1.27416 10.543 1.2525 10.6381 1.2502C10.7332 1.24791 10.8277 1.26501 10.9164 1.30055C11.0051 1.33608 11.0861 1.38935 11.1549 1.45731C11.2237 1.52527 11.2788 1.60659 11.3173 1.69663C11.3557 1.78666 11.3766 1.88365 11.3788 1.98206C11.3811 2.08047 11.3645 2.17836 11.3302 2.27016C11.2959 2.36195 11.2444 2.44585 11.1788 2.51706L4.96152 9.26706C4.89388 9.34059 4.8125 9.39911 4.72234 9.43908C4.63217 9.47905 4.5351 9.49962 4.43702 9.49956Z' stroke='white'/%3E%3C/svg%3E%0A");
  width: 12px;
  height: 10px;
}
.attention-item a {
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.5);
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.5);
}
.attention-item a:hover {
  text-decoration-color: #FFFFFF;
  -webkit-text-decoration-color: #FFFFFF;
}
