.disclaimer {
  font-size: 0.6666666666666666rem;
  line-height: 1.33333333;
  text-align: center;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto 40px;
}
@media (max-width: 1439px) {
  .disclaimer {
    max-width: 1280px;
  }
}
@media (max-width: 767px) {
  .disclaimer {
    font-size: 0.6111111111111112rem;
    line-height: 1.21818182;
    margin-bottom: 25px;
  }
}
.disclaimer_gray {
  text-align: left;
  color: #7C8793;
}
.disclaimer_simple {
  padding: 0;
  margin: 0 0 50px;
  font-size: 0.7222222222222222rem;
  line-height: 1.23076923;
}
@media (max-width: 1023px) {
  .disclaimer_simple {
    font-size: 0.6666666666666666rem;
    line-height: 1.33333333;
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .disclaimer_simple {
    margin-bottom: 32px;
  }
}
.disclaimer_ipo {
  text-align: left;
  font-size: 0.7222222222222222rem;
  line-height: 1.23076923;
  padding: 48px 2px 48px 0;
  margin: 0 auto;
  max-width: 1216px;
  color: #7C8793;
}
@media (max-width: 1439px) {
  .disclaimer_ipo {
    padding: 32px;
  }
}
@media (max-width: 1023px) {
  .disclaimer_ipo {
    font-size: 0.6666666666666666rem;
    line-height: 1.33333333;
  }
}
@media (max-width: 767px) {
  .disclaimer_ipo {
    padding: 16px;
  }
}
