.ftr {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.ftr-logo {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.ftr-menu {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding-top: 10px;
}
.ftr-apps {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  border-top: 1px solid rgba(124, 135, 147, 0.2);
  margin-top: 17px;
  padding: 28px 0 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 360px;
          flex: 0 0 360px;
  max-width: 360px;
}
@media (max-width: 1439px) {
  .ftr-apps {
    margin-top: 9px;
    padding-top: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 323px;
            flex: 0 0 323px;
    max-width: 323px;
  }
}
@media (max-width: 1023px) {
  .ftr-apps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 172px;
            flex: 0 0 172px;
    max-width: 172px;
  }
}
@media (max-width: 767px) {
  .ftr-apps {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    border: none;
    padding-top: 6px;
    margin-bottom: 22px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.ftr-copyright {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 360px);
          flex: 0 0 calc(100% - 360px);
  max-width: calc(100% - 360px);
}
@media (max-width: 1439px) {
  .ftr-copyright {
    margin-top: 9px;
    padding-top: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 323px);
            flex: 0 0 calc(100% - 323px);
    max-width: calc(100% - 323px);
  }
}
@media (max-width: 1023px) {
  .ftr-copyright {
    margin-top: 9px;
    padding-top: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 172px);
            flex: 0 0 calc(100% - 172px);
    max-width: calc(100% - 172px);
    min-height: 357px;
  }
}
@media (max-width: 767px) {
  .ftr-copyright {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding-top: 19px;
  }
}

/* region ftr-apps */
.ftr-apps{
    display: flex;
    flex-direction: column;
    height: auto;
}
@media (max-width: 1023px) {
    .ftr-apps {
        flex-direction: column;
        height: fit-content;
    }
}
/* endregion ftr-apps */

/* region socialLinks */
.appStores  .appStores-socialLinks {
    position: static;
    justify-content: flex-end;
    display: flex;
    width: 100%;
    align-items: flex-end;
    flex-grow: 1;
}
@media (max-width: 1023px){
    .appStores  .appStores-socialLinks {
        margin-top: 8px;
        width: calc(100% - 16px);
    }
}
@media (max-width: 767px){
    .appStores  .appStores-socialLinks {
        justify-content: center;
        margin: 8px auto 0;
    }
}
/* endregion socialLinks */
