.howToSave {
  padding: 100px 0 0;
  margin-bottom: 80px;
}
@media (max-width: 1439px) {
  .howToSave {
    padding: 80px 0 0;
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .howToSave {
    padding: 16px 0 0;
    margin-bottom: 44px;
  }
}
.howToSave-heading {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 16px;
  font-size: 1.5555555555555556rem;
  line-height: 1.14285714;
}
@media (max-width: 1023px) {
  .howToSave-heading {
    font-size: 1.1111111111111112rem;
    line-height: 1.2;
  }
}
@media (max-width: 767px) {
  .howToSave-heading {
    text-align: left;
    padding-right: 40%;
  }
}
.howToSave-description {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 37px;
  font-size: 0.8333333333333334rem;
  line-height: 1.33333333;
  color: #7C8793;
}
@media (max-width: 1439px) {
  .howToSave-description {
    margin-bottom: 28px;
  }
}
@media (max-width: 1023px) {
  .howToSave-description {
    font-size: 0.7777777777777778rem;
    line-height: 1.42857143;
  }
}
@media (max-width: 767px) {
  .howToSave-description {
    text-align: left;
    margin-bottom: 40px;
  }
}
.howToSave-description p {
  margin: 0 0 10px;
}
.howToSave-cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px;
}
@media (max-width: 1439px) {
  .howToSave-cols {
    margin: 0 -16px;
  }
}
@media (max-width: 767px) {
  .howToSave-cols {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.howToSave-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 0 20px;
  font-size: 0.9444444444444444rem;
  line-height: 1.17647059;
}
@media (max-width: 1439px) {
  .howToSave-col {
    padding: 0 16px;
  }
}
@media (max-width: 1023px) {
  .howToSave-col {
    font-size: 0.8888888888888888rem;
    line-height: 1.25;
  }
}
@media (max-width: 767px) {
  .howToSave-col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
