.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
}
.row-col {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 0 20px;
  margin-bottom: 40px;
}
@media (max-width: 1023px) {
  .row-col {
    margin-bottom: 32px;
  }
}
@media (max-width: 767px) {
  .row-col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
.row-col_underline {
  margin-bottom: 42px;
}
@media (max-width: 1023px) {
  .row-col_underline {
    margin-bottom: 36px;
  }
}
@media (max-width: 767px) {
  .row-col_underline {
    margin-bottom: 52px;
  }
}
.row-col_underline:after {
  content: '';
  position: absolute;
  width: 24px;
  bottom: 0;
  border-bottom: 2px solid #0057b6;
}
.row-col_third {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 37.5%;
          flex: 0 0 37.5%;
  max-width: 37.5%;
}
@media (max-width: 1023px) {
  .row-col_third {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 767px) {
  .row-col_third {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
.row-col_fifth {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}
@media (max-width: 1023px) {
  .row-col_fifth {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 767px) {
  .row-col_fifth {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
.row-col_4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333333%;
          flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
}
@media (max-width: 1439px) {
  .row-col_4_xl {
    -webkit-box-flex: 33.33333333%;
        -ms-flex: 33.33333333%;
            flex: 33.33333333%;
    max-width: 33.33333333%;
  }
}
@media (max-width: 1023px) {
  .row-col_4_lg {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 33.33333333% !important;
            flex: 0 0 33.33333333% !important;
    max-width: 33.33333333% !important;
  }
}
@media (max-width: 767px) {
  .row-col_4_md {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333333%;
            flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
}
.row-col_6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}
@media (max-width: 1439px) {
  .row-col_6_xl {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 50% !important;
            flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}
@media (max-width: 1023px) {
  .row-col_6_lg {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 50% !important;
            flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}
@media (max-width: 767px) {
  .row-col_6_md {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 50% !important;
            flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}
.row-col_8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66666667%;
          flex: 0 0 66.66666667%;
  max-width: 66.66666667%;
}
@media (max-width: 1439px) {
  .row-col_8_xl {
    -webkit-box-flex: 66.66666667%;
        -ms-flex: 66.66666667%;
            flex: 66.66666667%;
    max-width: 66.66666667%;
  }
}
@media (max-width: 1023px) {
  .row-col_8_lg {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 66.66666667% !important;
            flex: 0 0 66.66666667% !important;
    max-width: 66.66666667% !important;
  }
}
@media (max-width: 767px) {
  .row-col_8_md {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66666667%;
            flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
}
.row-col_12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}
@media (max-width: 1439px) {
  .row-col_12_xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 1023px) {
  .row-col_12_lg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .row-col_12_md {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}
.row-col_30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  max-width: 30%;
}
@media (max-width: 1439px) {
  .row-col_30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 31.2%;
            flex: 0 0 31.2%;
    max-width: 31.2%;
  }
}
@media (max-width: 1439px) {
  .row-col_30_xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 31.2%;
            flex: 0 0 31.2%;
    max-width: 31.2%;
  }
}
.row-col_40 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 40%;
}
@media (max-width: 1439px) {
  .row-col_40 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 37.6%;
            flex: 0 0 37.6%;
    max-width: 37.6%;
  }
}
@media (max-width: 1439px) {
  .row-col_40_xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 37.6%;
            flex: 0 0 37.6%;
    max-width: 37.6%;
  }
}
.row-col_35 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  max-width: 35%;
}
@media (max-width: 1439px) {
  .row-col_35 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 37.6%;
            flex: 0 0 37.6%;
    max-width: 37.6%;
  }
}
@media (max-width: 1439px) {
  .row-col_35_xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 37.6%;
            flex: 0 0 37.6%;
    max-width: 37.6%;
  }
}
.row-col_5_21 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25.00952381%;
          flex: 0 0 25.00952381%;
  max-width: 25.00952381%;
}
@media (max-width: 1439px) {
  .row-col_5_21_xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25.00952381%;
            flex: 0 0 25.00952381%;
    max-width: 25.00952381%;
  }
}
.row-col_8_21 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 37.4952381%;
          flex: 0 0 37.4952381%;
  max-width: 37.4952381%;
}
@media (max-width: 1439px) {
  .row-col_8_21_xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 37.4952381%;
            flex: 0 0 37.4952381%;
    max-width: 37.4952381%;
  }
}
.row-col_ma0 {
  margin: 0;
}
.row-surround {
  line-height: 1.5;
  margin: 24px 0;
}
.row-surround_small {
  font-size: 0.6666666666666666rem;
  line-height: 2;
}
.row-surround_wide {
  line-height: 1.71428571;
}
.row-heading {
  font-size: 1.2222222222222223rem;
  font-weight: bold;
}
.row_small {
  font-size: 0.7777777777777778rem;
}
.row_wide {
  margin-bottom: 79px;
}
@media (max-width: 1023px) {
  .row_wide {
    margin-bottom: 56px;
  }
}
.row_bannerOrders .row-col {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}
.row_bannerOrders .row-col:nth-child(1) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.row_bannerOrders .row-col:nth-child(2) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
@media (max-width: 1439px) {
  .row_bannerOrders .row-col:nth-child(2) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}
@media (max-width: 1023px) {
  .row_bannerOrders .row-col:nth-child(2) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}
@media (max-width: 767px) {
  .row_bannerOrders .row-col:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
.row_bannerOrders .row-col:nth-child(3) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.row_bannerOrders .row-col:nth-child(4) {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}
.row_bannerOrders .row-col:nth-child(5) {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}
.row-grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.row_spaceBetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.row_ma0 {
  margin: 0;
}
.row_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media (max-width: 1439px) {
  .row_reverse_xl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
@media (max-width: 1023px) {
  .row_reverse_lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
@media (max-width: 767px) {
  .row_reverse_md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
.row_direction {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 1439px) {
  .row_direction_xl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (max-width: 1023px) {
  .row_direction_lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (max-width: 767px) {
  .row_direction_md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
